# Lab 06 - Subsetting, Filtering, and Grouping Data

Complete the tasks listed below. You can submit the completed lab until 11:59 PM in the night.

<u>Requirement:</u><br>
Do your best to write Pythonic code instead of the traditional programming code.

### Task 1 (0.5 mark)

Import the necessary libraries, read the data __thanksgiving_w_age_income.csv__ from the __data__ folder, and display the first five rows of your dataset. Also get the indices for the following columns programmatically before proceeding further:

```Do you typically have gravy?"```

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

You are required to use only the indices for the above columns going forward.

In [36]:
### Write your code below this comment.
import pandas as pd
import numpy as np
df = pd.read_csv("data/thanksgiving_w_age_income.csv")

#Define indexes with specific column in data frame:
gravy = df.columns.get_loc("Do you typically have gravy?")
friends = df.columns.get_loc('Have you ever tried to meet up with hometown friends on Thanksgiving night?')
attend = df.columns.get_loc('Have you ever attended a "Friendsgiving?"')

#Show first 5 rows
df.head(5)

,Unnamed: 0,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,...,Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region,int_age,int_income
0,0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,...,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic,18.0,75000.0
1,1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),...,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central,18.0,50000.0
2,2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,...,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain,18.0,0.0
3,3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,...,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific,30.0,200000.0
4,4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,...,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific,30.0,100000.0

### Task 2 (0.5 mark)

Can you use conditional selection and Boolean filtering to figure out the mean age of those who responded __'Yes'__ and __'No'__ to the following questions:

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

You should be getting the following answers for the different combinations:

    'No' and 'No': 42.283702213279675

    'No' and 'Yes': 37.01052631578948

    'Yes' and 'No': 41.47540983606557

    'Yes' and 'Yes': 33.97674418604651

In [3]:
### Write your code below this comment.
#Define questions cobmination with defined index
# Find the mean value on int_age columns with condition
combo1=df[(df.iloc[:,friends] == 'No') & (df.iloc[:,attend]=='No')]['int_age'].mean() 
combo2=df[(df.iloc[:,friends] == 'No') & (df.iloc[:,attend]=='Yes')]['int_age'].mean() 
combo3=df[(df.iloc[:,friends] == 'Yes') & (df.iloc[:,attend]=='No')]['int_age'].mean() 
combo4=df[(df.iloc[:,friends] == 'Yes') & (df.iloc[:,attend]=='Yes')]['int_age'].mean()

## Display findings
print("'No' and 'No':",combo1) 
print("\n'No' and 'Yes':",combo2) 
print("\n'Yes' and 'No':",combo3) 
print("\n'Yes' and 'Yes':",combo4)

'No' and 'No': 42.283702213279675

'No' and 'Yes': 37.01052631578948

'Yes' and 'No': 41.47540983606557

'Yes' and 'Yes': 33.97674418604651

### Task 3 (1 mark)

Can you get the same results you got in __Task 2__ using a pivot table? A snapshot of the expected result is shown below.

<img align="left" src="images/task3.png" height="600" width="600">

In [21]:
### Write your code below this comment. 

# Print the resultant table
# Force column int_age and apply row and column index
# use aggregrate function mean with fill_value 0 on NaN values
df.pivot_table(["int_age"], 
               index=df.iloc[:,friends], 
               columns=df.iloc[:,attend], 
               aggfunc='mean', 
               fill_value=0)

                                                      int_age
Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

### Task 4 (1 mark)

Can you get the same results you got in __Task 3__ using the __groupby__ method? A snapshot of the expected result is shown below.

<img align="left" src="images/task4.png" height="800" width="800">

In [20]:
### Write your code below this comment.
# Group by on dataframe selection
df.groupby([df.iloc[:,friends],
            df.iloc[:,attend]])["int_age"].agg(int_age='mean')

                                                                                                int_age
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         42.283702
                                                   Yes                                        37.010526
Yes                                                No                                         41.475410
                                                   Yes                                        33.976744

### Task 5 (0.5 mark)

Can you get the same results you got in __Task 4__ using the __groupby__ method but also make the output look similar to the pivot table in __Task 3__? A snapshot of the expected result is shown below.

<img align="left" src="images/task5.png" height="600" width="600">

In [19]:
### Write your code below this comment.
groupBy_pivot = df.groupby([df.iloc[:,friends],
                            df.iloc[:,attend]])["int_age"].agg(int_age='mean')

#Use unstack function to disable grouping display
groupBy_pivot.unstack()

                                                      int_age
Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

### Task 6 (0.5 mark)

Can you use conditional selection and Boolean filtering to figure out the group sizes of those who responded __'Yes'__ and __'No'__ to the following questions:

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

You should be getting the following answers for the different combinations:

    'No' and 'No': 499

    'No' and 'Yes': 95

    'Yes' and 'No': 184

    'Yes' and 'Yes': 173

In [16]:
### Write your code below this comment.
#Define questions cobmination with defined index
# Find the mean value on int_age columns with condition
combo1=df[(df.iloc[:,friends] == 'No') & (df.iloc[:,attend]=='No')]['int_age'].size
combo2=df[(df.iloc[:,friends] == 'No') & (df.iloc[:,attend]=='Yes')]['int_age'].size
combo3=df[(df.iloc[:,friends] == 'Yes') & (df.iloc[:,attend]=='No')]['int_age'].size
combo4=df[(df.iloc[:,friends] == 'Yes') & (df.iloc[:,attend]=='Yes')]['int_age'].size

## Display findings
print("'No' and 'No':",combo1) 
print("\n'No' and 'Yes':",combo2) 
print("\n'Yes' and 'No':",combo3) 
print("\n'Yes' and 'Yes':",combo4)

'No' and 'No': 499

'No' and 'Yes': 95

'Yes' and 'No': 184

'Yes' and 'Yes': 173

### Task 7 (1 mark)

Can you use __groupby__ to get the group sizes of those who responded __'Yes'__ and __'No'__ to the following questions:

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

A snapshot of the expected result is shown below. Do your results tally with those you obtained in __Task 6__?

<img align="left" src="images/task7.png" height="530" width="530">

In [18]:
### Write your code below this comment.
# Use Aggregrate Count to cross checkby RespondentID
df.pivot_table('RespondentID', 
               index=df.iloc[:,friends], 
               columns=df.iloc[:,attend], 
               aggfunc='count')

Have you ever attended a "Friendsgiving?"            No  Yes
Have you ever tried to meet up with hometown fr...
No                                                  499   95
Yes                                                 184  173

### Task 8 (1 mark)

Can you use __groupby__ to group your data columns by their data types?

In [29]:
### Write your code below this comment.
df_list=df.groupby(df.dtypes,axis=1)

for data_type, count in df_list:
    print(data_type)
    print(count)

int64
      Unnamed: 0  RespondentID
0              0    4337954960
1              1    4337951949
2              2    4337935621
3              3    4337933040
4              4    4337931983
...          ...           ...
1053        1053    4335944082
1054        1054    4335943173
1055        1055    4335943060
1056        1056    4335934708
1057        1057    4335894916

[1058 rows x 2 columns]
float64
      int_age  int_income
0        18.0     75000.0
1        18.0     50000.0
2        18.0         0.0
3        30.0    200000.0
4        30.0    100000.0
...       ...         ...
1053     30.0    100000.0
1054     60.0     50000.0
1055     60.0    100000.0
1056      NaN         NaN
1057      NaN         NaN

[1058 rows x 2 columns]
object
     Do you celebrate Thanksgiving?  \
0                               Yes
1                               Yes
2                               Yes
3                               Yes
4                               Yes
...                             ...
1053                            Yes
1054                            Yes
1055                            Yes
1056                            Yes
1057                            Yes

     What is typically the main dish at your Thanksgiving dinner?  \
0                                                Turkey
1                                                Turkey
2                                                Turkey
3                                                Turkey
4                                              Tofurkey
...                                                 ...
1053                                             Turkey
1054                                             Turkey
1055                             Other (please specify)
1056                                             Turkey
1057                                             Turkey

     What is typically the main dish at your Thanksgiving dinner? - Other (please specify)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1053                                                NaN
1054                                                NaN
1055                                               Duck
1056                                                NaN
1057                                                NaN

     How is the main dish typically cooked?  \
0                                     Baked
1                                     Baked
2                                   Roasted
3                                     Baked
4                                     Baked
...                                     ...
1053                                Roasted
1054                                  Baked
1055                                  Baked
1056                                  Baked
1057                                  Baked

     How is the main dish typically cooked? - Other (please specify)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1053                                                NaN
1054                                                NaN
1055                                                NaN
1056                                                NaN
1057                                                NaN

     What kind of stuffing/dressing do you typically have?  \
0                                           Bread-based
1                                           Bread-based
2                                            Rice-based
3                                           Bread-based
4                                           Bread-based
...                                                 ...
1053                                        Bread-based
1054                                        Bread-based
1055                                         Rice-based
1056                                               None
1057                                        Bread-based

     What kind of stuffing/dressing do you typically have? - Other (please specify)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1053                                                NaN
1054                                                NaN
1055                                                NaN
1056                                                NaN
1057                                                NaN

     What type of cranberry saucedo you typically have?  \
0                                                  None
1                                Other (please specify)
2                                              Homemade
3                                              Homemade
4                                                Canned
...                                                 ...
1053                                           Homemade
1054                                             Canned
1055                                               None
1056                                           Homemade
1057                                             Canned

     What type of cranberry saucedo you typically have? - Other (please specify)  \
0                                                   NaN
1                       Homemade cranberry gelatin ring
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1053                                                NaN
1054                                                NaN
1055                                                NaN
1056                                                NaN
1057                                                NaN

     Do you typically have gravy?  ...  \
0                             Yes  ...
1                             Yes  ...
2                             Yes  ...
3                             Yes  ...
4                             Yes  ...
...                           ...  ...
1053                          Yes  ...
1054                          Yes  ...
1055                           No  ...
1056                          Yes  ...
1057                          Yes  ...

     Have you ever tried to meet up with hometown friends on Thanksgiving night?  \
0                                                   Yes
1                                                    No
2                                                   Yes
3                                                   Yes
4                                                   Yes
...                                                 ...
1053                                                Yes
1054                                                 No
1055                                                Yes
1056                                                Yes
1057                                                Yes

     Have you ever attended a "Friendsgiving?"  \
0                                           No
1                                           No
2                                          Yes
3                                           No
4                                           No
...                                        ...
1053                                       Yes
1054                                        No
1055                                       Yes
1056                                        No
1057                                       Yes

     Will you shop any Black Friday sales on Thanksgiving Day?  \
0                                                    No
1                                                   Yes
2                                                   Yes
3                                                    No
4                                                    No
...                                                 ...
1053                                                 No
1054                                                 No
1055                                                Yes
1056                                                Yes
1057                                                Yes

     Do you work in retail? Will you employer make you work on Black Friday?  \
0                        No                                              NaN
1                        No                                              NaN
2                        No                                              NaN
3                        No                                              NaN
4                        No                                              NaN
...                     ...                                              ...
1053                     No                                              NaN
1054                     No                                              NaN
1055                     No                                              NaN
1056                    Yes                                              Yes
1057                     No                                              NaN

     How would you describe where you live?      Age What is your gender?  \
0                                  Suburban  18 - 29                 Male
1                                     Rural  18 - 29               Female
2                                  Suburban  18 - 29                 Male
3                                     Urban  30 - 44                 Male
4                                     Urban  30 - 44                 Male
...                                     ...      ...                  ...
1053                                  Rural  30 - 44               Female
1054                               Suburban      60+               Female
1055                                  Urban      60+                 Male
1056                                    NaN      NaN                  NaN
1057                                    NaN      NaN                  NaN

     How much total combined money did all members of your HOUSEHOLD earn last year?  \
0                                    $75,000 to $99,999
1                                    $50,000 to $74,999
2                                          $0 to $9,999
3                                       $200,000 and up
4                                  $100,000 to $124,999
...                                                 ...
1053                               $100,000 to $124,999
1054                                 $50,000 to $74,999
1055                               $100,000 to $124,999
1056                                                NaN
1057                                                NaN

               US Region
0        Middle Atlantic
1     East South Central
2               Mountain
3                Pacific
4                Pacific
...                  ...
1053            Mountain
1054             Pacific
1055             Pacific
1056                 NaN
1057                 NaN

[1058 rows x 64 columns]

### Task 9 (1 mark)

Can you use __groupby__ to figure out the minimum, maximum, mean, and standard deviation for the ```int_age``` column for all those who responded __'Yes'__ and __'No'__ to the following questions:

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

A snapshot of the expected result is shown below.

<img align="left" src="images/task9.png" height="900" width="900">

In [30]:
### Write your code below this comment.
# use aggregrate function to find out min, max, mean and std dev
df.groupby([df.iloc[:,friends],
            df.iloc[:,attend]])[['int_age']].agg(['min','max','mean','std'])

                                                                                             int_age  \
                                                                                                 min
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                           18.0
                                                   Yes                                          18.0
Yes                                                No                                           18.0
                                                   Yes                                          18.0

                                                                                                    \
                                                                                               max
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         60.0
                                                   Yes                                        60.0
Yes                                                No                                         60.0
                                                   Yes                                        60.0

                                                                                                         \
                                                                                                   mean
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         42.283702
                                                   Yes                                        37.010526
Yes                                                No                                         41.475410
                                                   Yes                                        33.976744


                                                                                                    std
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         15.389630
                                                   Yes                                        15.419313
Yes                                                No                                         14.449921
                                                   Yes                                        14.319232

### Task 10 (1 mark)

Can you use __groupby__ to figure out the minimum, maximum, and mean for the ```int_age``` column as well as the mean, median, and standard deviation for the ```int_income``` column for all those who responded __'Yes'__ and __'No'__ to the following questions:

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

A snapshot of the expected result is shown below.

<img align="left" src="images/task10.png" height="950" width="950">

In [37]:
### Write your code below this comment.
#Group data set with friends and attend columns
df_ls=df.groupby([df.iloc[:,friends],
                  df.iloc[:,attend]])

#select column and apply combination of aggregration 
df_ls.agg({'int_age':['min','max','mean'],
           'int_income':['mean','median','std']})

                                                                                             int_age  \
                                                                                                 min
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                           18.0
                                                   Yes                                          18.0
Yes                                                No                                           18.0
                                                   Yes                                          18.0

                                                                                                    \
                                                                                               max
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         60.0
                                                   Yes                                        60.0
Yes                                                No                                         60.0
                                                   Yes                                        60.0

                                                                                                         \
                                                                                                   mean
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         42.283702
                                                   Yes                                        37.010526
Yes                                                No                                         41.475410
                                                   Yes                                        33.976744

                                                                                                int_income  \
                                                                                                      mean
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         78914.549654
                                                   Yes                                        72894.736842
Yes                                                No                                         78750.000000
                                                   Yes                                        66019.736842

                                                                                                       \
                                                                                               median
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         75000.0
                                                   Yes                                        50000.0
Yes                                                No                                         75000.0
                                                   Yes                                        50000.0


                                                                                                       std
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         59714.595863
                                                   Yes                                        60173.433551
Yes                                                No                                         57398.048121
                                                   Yes                                        57885.874290

### Task 11 (1 mark)

Can you get the group sizes of those who responded __'Yes'__ and __'No'__ to the following questions:

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

Also ensure that your results have a column and row labeled __'Total'__ which show the totals for each row and column respectively. A snapshot of the expected result is shown below.

<u>Hint:</u> Use __crosstab__

<img align="left" src="images/task11.png" height="600" width="600">

In [45]:
### Write your code below this comment.
# Use margin as total count and rename the margin_name with "Total"
my_crosstab = pd.crosstab(df.iloc[:,friends],
            df.iloc[:,attend], 
            margins=True, 
            margins_name="Total")

my_crosstab

Have you ever attended a "Friendsgiving?"            No  Yes  Total
Have you ever tried to meet up with hometown fr...
No                                                  499   95    594
Yes                                                 184  173    357
Total                                               683  268    951

### Task 12 (1 mark)

Can you aggregate the counts of your data such that the variable ```Do you typically have gravy?``` appears along the column while the following variables appear along the rows?

```Have you ever tried to meet up with hometown friends on Thanksgiving night?```

```Have you ever attended a "Friendsgiving?"```

A snapshot of the expected result is shown below.

<u>Hint:</u> Use __crosstab__

<img align="left" src="images/task12.png" height="800" width="800">

In [47]:
### Write your code below this comment.
#Cross tabe with Friends and attend, and upper level with gravy and display subtotal with Margin = true
pd.crosstab([df.iloc[:,friends],
             df.iloc[:,attend]],
            df.iloc[:,gravy], 
            margins= True)

Do you typically have gravy?                                                                  No  \
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         39
                                                   Yes                                        12
Yes                                                No                                          9
                                                   Yes                                        17
All                                                                                           77

Do you typically have gravy?                                                                  Yes  \
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         460
                                                   Yes                                         83
Yes                                                No                                         175
                                                   Yes                                        156
All                                                                                           874

Do you typically have gravy?                                                                  All
Have you ever tried to meet up with hometown fr... Have you ever attended a "Friendsgiving?"
No                                                 No                                         499
                                                   Yes                                         95
Yes                                                No                                         184
                                                   Yes                                        173
All                                                                                           951