# Star Wars Survey

In this lab, you'll clean and explore data on the Star Wars movies. While waiting for [Star Wars: The Force Awakens](https://en.wikipedia.org/wiki/Star_Wars:_The_Force_Awakens) to come out, the team at [FiveThirtyEight](http://fivethirtyeight.com/) became interested in answering some questions about _Star Wars_ fans. In particular, they wondered: __does the rest of America realize that “The Empire Strikes Back” is clearly the best of the bunch?__

The team needed to collect data addressing this question. To do this, they surveyed _Star Wars_ fans using the online tool SurveyMonkey and received a total of 835 responses.

The data has several columns, including:
- RespondentID - An anonymized ID for the respondent (person taking the survey)
- Gender - The respondent's gender
- Age - The respondent's age
- Household Income - The respondent's income
- Education - The respondent's education level
- Location (Census Region) - The respondent's location
- Have you seen any of the 6 films in the Star Wars franchise? - Has a Yes or No response
- Do you consider yourself to be a fan of the Star Wars film franchise? - Has a Yes or No response

There are several other columns containing answers to questions about the Star Wars movies. For some questions, the respondent had to check one or more boxes. 

While working on this dataset, feel free to use online resources. [Google](https://www.google.com/), [StackOverflow](https://www.stackoverflow.com/), and the documentation for various packages will help you as you progress through this lab. All data analysts/scientists make extensive use of resources like these as they write code.

Complete the tasks listed below. You can submit the completed lab until 11:59 PM in the night.

<u>Requirement:</u><br>
Do your best to write Pythonic code instead of the traditional programming code.

<u>Hint:</u><br>
For all of these tasks, you would need to read the data first using __pd.read_csv__

### Task 1 (2 marks)

Import the necessary libraries, read the data __star_wars.csv__ and do the following:

- Specify the encoding __ISO-8859-1__ to read the CSV file as the data set has some characters that aren't in Python's default utf-8 encoding. This would ensure that the dataset displays properly. 

- Ensure that the columns are not truncated (that is, by default pandas shows only the first few columns followed by ellipsis followed by the last few columns). <u>Hint:</u> pd.options...

- Since there is only one column which is float type (__RespondentID__), also make sure that scientific notation is not used and there should be no digits after the decimal point. <u>Hint:</u> pd.options...

- You will notice that some values in the __RespondentID__ column are missing. Filter your dataset so that it contains no missing values for this column and save the resulting dataframe as __df__, which you will be working with going forward. 

- Output some information such as the dimensions and the first five rows of your dataset, the name and data type of each column etc.

- Find the number of missing values for each column of your dataset.

In [65]:
### Write your code below this comment.
import pandas as pd
import numpy as np
df = pd.read_csv("data\star_wars.csv", encoding ="ISO-8859-1")

#Show top 5 rows of the dataset
df.head(5)

print("Original Dataset - Total Number of observations and total number of columns")
print(df.shape)

# Remove Respondent ID is null value with not null function
df = df[df['RespondentID'].notnull()]

print("Total Number of observations and total number of columns")
print(df.shape)

Original Dataset - Total Number of observations and total number of columns
(1187, 38)
Total Number of observations and total number of columns
(1186, 38)

In [66]:
print("\nColumn Name and the numboer ofTotal Number of observations and total number of columns")
df.isna().sum()

Column Name and the numboer ofTotal Number of observations and total number of columns

RespondentID                                                                                                                                       0
Have you seen any of the 6 films in the Star Wars franchise?                                                                                       0
Do you consider yourself to be a fan of the Star Wars film franchise?                                                                            350
Which of the following Star Wars films have you seen? Please select all that apply.                                                              513
Unnamed: 4                                                                                                                                       615
Unnamed: 5                                                                                                                                       636
Unnamed: 6                                                                                                                                       579
Unnamed: 7                                                                                                                                       428
Unnamed: 8                                                                                                                                       448
Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.    351
Unnamed: 10                                                                                                                                      350
Unnamed: 11                                                                                                                                      351
Unnamed: 12                                                                                                                                      350
Unnamed: 13                                                                                                                                      350
Unnamed: 14                                                                                                                                      350
Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.                                   357
Unnamed: 16                                                                                                                                      355
Unnamed: 17                                                                                                                                      355
Unnamed: 18                                                                                                                                      363
Unnamed: 19                                                                                                                                      361
Unnamed: 20                                                                                                                                      372
Unnamed: 21                                                                                                                                      360
Unnamed: 22                                                                                                                                      366
Unnamed: 23                                                                                                                                      374
Unnamed: 24                                                                                                                                      359
Unnamed: 25                                                                                                                                      356
Unnamed: 26                                                                                                                                      365
Unnamed: 27                                                                                                                                      372
Unnamed: 28                                                                                                                                      360
Which character shot first?                                                                                                                      358
Are you familiar with the Expanded Universe?                                                                                                     358
Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦                                                                               973
Do you consider yourself to be a fan of the Star Trek franchise?                                                                                 118
Gender                                                                                                                                           140
Age                                                                                                                                              140
Household Income                                                                                                                                 328
Education                                                                                                                                        150
Location (Census Region)                                                                                                                         143
dtype: int64

### Task 2 (2 marks)

Take a look at the next two columns, which are:

- Have you seen any of the 6 films in the Star Wars franchise?
- Do you consider yourself to be a fan of the Star Wars film franchise?

Both represent Yes/No questions. They can also be NaN where a respondent chooses not to answer a question. Do the following:

- Find the number of unique values for both the columns
- Both columns are currently string types, because the main values they contain are __Yes__ and __No__. Convert each column to Boolean type. When you're finished, both columns should only contain the values __True__, __False__, and __NaN__.

In [67]:
### Write your code below this comment.
#Define boolean Handling on Yes and No values
#Treat Yes as True, No / NA as False
Boolean_YN = {"Yes": True, "No": False, np.nan:False}

#Loop into column and locate these 2 columns, then replace the value with boolean_YN
for column in [
    "Have you seen any of the 6 films in the Star Wars franchise?",
    "Do you consider yourself to be a fan of the Star Wars film franchise?"
    ]:
    df[column] = df[column].map(Boolean_YN)

In [69]:
#Validation - Null value checking
countCol1 = df["Have you seen any of the 6 films in the Star Wars franchise?"].isna().sum()

countCol2 = df["Do you consider yourself to be a fan of the Star Wars film franchise?"].isna().sum()
print("Column 1 Null Count:", countCol1, "\nColumn 2 Null Count:" , countCol2)

#Show top records after apply the logic
df.head(2)

Column 1 Null Count: 0
Column 2 Null Count: 0

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
1,3.292880e+09,True,True,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central

### Task 3 (2 marks)

The next six columns represent a single checkbox question. The respondent checked off a series of boxes in response to the question, __Which of the following Star Wars films have you seen? Please select all that apply.__

The columns for this task are:

- Which of the following Star Wars films have you seen? Please select all that apply. - Whether or not the respondent saw Star Wars: Episode I The Phantom Menace.
- Unnamed: 4 - Whether or not the respondent saw Star Wars: Episode II Attack of the Clones.
- Unnamed: 5 - Whether or not the respondent saw Star Wars: Episode III Revenge of the Sith.
- Unnamed: 6 - Whether or not the respondent saw Star Wars: Episode IV A New Hope.
- Unnamed: 7 - Whether or not the respondent saw Star Wars: Episode V The Empire Strikes Back.
- Unnamed: 8 - Whether or not the respondent saw Star Wars: Episode VI Return of the Jedi.

For each of these columns, if the value in a cell is the name of the movie, that means the respondent saw the movie. If the value is NaN, the respondent either didn't answer or didn't see the movie. We'll assume that they didn't see the movie.

You'll need to convert each of these columns to Boolean type. You can convert the values the same way you did earlier, except that you'll need to include the __movie title__ and __NaN__ in the mapping dictionary.

<u>Note:</u> Be very careful with spacing when constructing your mapping dictionary! For example, the column __Star Wars: Episode I The Phantom Menace__ has two spaces between the end of __Episode I__ and the start of __The Phantom Menace__, but this is not the case with __Star Wars: Episode VI Return of the Jedi__. Check the values in column names carefully to make sure you use the appropriate spacing.

<u>Hint:</u> You can select all of the column names with __df.columns[3:9]__, rather than typing each one in.

In [70]:
### Write your code below this comment.
#Define boolean Handling on Yes and No values
#Treat filmX: name as True, NA as False
Boolean_YN = {
    "Star Wars: Episode I  The Phantom Menace": True,
    "Star Wars: Episode II  Attack of the Clones": True,
    "Star Wars: Episode III  Revenge of the Sith": True,
    "Star Wars: Episode IV  A New Hope": True,
    "Star Wars: Episode V The Empire Strikes Back": True,
    "Star Wars: Episode VI Return of the Jedi": True,
    np.nan: False,
}

#For column index 3 - 9 apply the for loop to replacement logic
for column in df.columns[3:9]:
    df[column] = df[col].map(Boolean_YN)

#Print dataset for cross check
df.head(1)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
1,3.292880e+09,True,True,True,True,True,True,True,True,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic

In [71]:
# Use the .rename() method to replace the column name with the new name
# Original Name : New Column Name
df = df.rename(columns={
    'Which of the following Star Wars films have you seen? Please select all that apply.': "seen_1",
    "Unnamed: 4": "seen_2",
    "Unnamed: 5": "seen_3",
    "Unnamed: 6": "seen_4",
    "Unnamed: 7": "seen_5",
    "Unnamed: 8": "seen_6",
    })

In [72]:
#Print dataset for cross check
df.head(1)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,seen_1,seen_2,seen_3,seen_4,seen_5,seen_6,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
1,3.292880e+09,True,True,True,True,True,True,True,True,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic

### Task 4 (1 mark)

- Rename each of the columns in Task 3 so that the names are more intuitive. I recommend using __seen_1__ to indicate whether the respondent saw __Star Wars: Episode I The Phantom Menace__, __seen_2__ for __Star Wars: Episode II Attack of the Clones__, and so on.
- Once you have done that, display the first five rows of your dataset.

In [73]:
### Write your code below this comment.
# Use the .rename() method to replace the column name with the new name
# Original Name : New Column Name
df = df.rename(columns={
    "seen_1": 'Star Wars: Episode I The Phantom Menace',
    "seen_2": 'Star Wars: Episode II Attack of the Clones',
    "seen_3": 'Star Wars: Episode III Revenge of the Sith',
    "seen_4": 'Star Wars: Episode IV A New Hope',
    "seen_5": 'Star Wars: Episode V The Empire Strikes Back',
    "seen_6": 'Star Wars: Episode VI Return of the Jedi',
    }) 

#Print dataset for cross check
df.head(5)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
1,3.292880e+09,True,True,True,True,True,True,True,True,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,False,False,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,True,False,False,False,False,False,False,False,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,True,True,True,True,True,True,True,True,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
5,3.292731e+09,True,True,True,True,True,True,True,True,5,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

### Task 5 (3 marks)

The next six columns ask the respondent to rank the _Star Wars_ movies in order of least favorite to most favorite. 1 means the film was the most favorite, and 6 means it was the least favorite. Each of the following columns can contain the value 1, 2, 3, 4, 5, 6, or NaN:

- Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film. - How much the respondent liked Star Wars: Episode I The Phantom Menace
- Unnamed: 10 - How much the respondent liked Star Wars: Episode II Attack of the Clones
- Unnamed: 11 - How much the respondent liked Star Wars: Episode III Revenge of the Sith
- Unnamed: 12 - How much the respondent liked Star Wars: Episode IV A New Hope
- Unnamed: 13 - How much the respondent liked Star Wars: Episode V The Empire Strikes Back
- Unnamed: 14 - How much the respondent liked Star Wars: Episode VI Return of the Jedi

Fortunately, these columns don't require a lot of cleanup. Do the following:

- Give each column a more descriptive name. I suggest __ranking_1__, __ranking_2__, and so on.
- Convert each column to float type. <u>Hint:</u>You can select all of the column names with __df.columns[9:15]__, rather than typing each one in.
- Once you have done that, display the first five rows of your dataset.
- Now find the average ranking for each film. Before doing this however, set pandas options to display two digits after decimal point.

In [75]:
### Write your code below this comment.
# Covert Column into float data type
df[df.columns[9:15]] = df[df.columns[9:15]].astype(float)

#Rename column with Ranking X
df = df.rename(columns={
    'Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.': "ranking_1",
    "Unnamed: 10": "ranking_2",
    "Unnamed: 11": "ranking_3",
    "Unnamed: 12": "ranking_4",
    "Unnamed: 13": "ranking_5",
    "Unnamed: 14": "ranking_6",
    })

#Print dataset for cross check
df.head(5)

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,ranking_1,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
1,3.292880e+09,True,True,True,True,True,True,True,True,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,False,False,False,False,False,False,False,False,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,True,False,False,False,False,False,False,False,1.0,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,True,True,True,True,True,True,True,True,5.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
5,3.292731e+09,True,True,True,True,True,True,True,True,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [78]:
#Calcuate average ranking and round the result into 2 dp
avg = df[df.columns[9:15]].mean().round(2)
print("The Average Ranking below:")
print(avg)

The Average Ranking below:
ranking_1    3.73
ranking_2    4.09
ranking_3    4.34
ranking_4    3.27
ranking_5    2.51
ranking_6    3.05
dtype: float64